.menu {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
    margin-top: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 15px;
}

.menu a {
    text-decoration: none;
    color: #5E17EB; 
}

.menu-right {
    margin-left: auto;
}


.menu a.active {
    font-weight: bold; 
}

.menu a:hover {
    color: #000; 
    transition: 1,2s;
}