.search-box {
    bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.search-box input {
    padding: 8px;
    width: 70%;
    border: 1px solid #5E17EB;
    border-radius: 8px;
    margin-left: -5px;
    color: #5E17EB;
}

.search-box button {
    padding: 8px;
    background-color: #5E17EB;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-box button:hover {
    color: #fff;
    background-color: #000;
    transition: 0.2s;
}
